<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	{% endblock %}
</head>
<body>
	{% block nav %}
	{% endblock %}
	<div id="container">
		<div id="wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
{% block footer %}
<script>
</script>
{% endblock %}
</html>

