<html>
	<head>
	        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
		<script type="application/javascript" src="{{ url_for('static', filename='js/svg-pan-zoom.js') }}" > </script>
	</head>
	<body class="graph">
		<div id="grandemangiatore"></div>
		<div id="plus">+</div>
		<div id="minus">-</div>
		<div id="dntxt"><a href="/txt/{{graph}}.txt" download>txt</a></div>
		<div id="dnsvg"><a href="/svg/{{graph}}.svg" download>svg</a></div>
		<div id="dnpdf"><a href="/pdf/{{graph}}.pdf" download>pdf</a></div>
		
		<div id="cont">
			<div id='dd'>
			<object type="image/svg+xml" data="/svg/{{graph}}.svg" id="dia"></object>
			</div>
		</div>
<script>
var diasvg = document.querySelector('#dia');
var svgDoc;
var svgZW;
var svgZo;
var svgPa;
var panZoom;
var pzsettings = { dblClickZoomEnabled:false, zoomScaleSensitivity:0.5, fit:true,center:true } 
diasvg.addEventListener('load',function(){
	panZoom = svgPanZoom('#dia',pzsettings );
});

document.addEventListener('DOMContentLoaded',function(){

	setInterval(function(){
		if ( document.querySelectorAll('#dia').length == 1){
		diasvg = document.querySelector('#dia:not(.old)');
		newSvg=diasvg.cloneNode(true);
		newSvg.setAttribute('data',diasvg.getAttribute('data'));
		diasvg.after(newSvg);
		diasvg.classList.add('old');
		newSvg.addEventListener('load',function(){
			newSvg.id='newdia';
			svgZo = panZoom.getZoom();
			svgPa = panZoom.getPan();
			panZoom = svgPanZoom('#newdia',pzsettings );
			panZoom.zoom(svgZo);
			panZoom.pan(svgPa);
			newSvg.id='dia';
			document.querySelector('#dia.old').remove();
			diasvg=document.getElementById('dia');
		});
		}
	}
,2000);
});

document.querySelector('#dd').style.flexGrow=4;

document.querySelector('#plus').addEventListener('click',function(){
	panZoom.zoomIn();
});
document.querySelector('#minus').addEventListener('click',function(){
	panZoom.zoomOut();
});


</script>
	</body>
</html>

