<html>
	<head>
	        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
		<script type="application/javascript" src="{{ url_for('static', filename='js/svg-pan-zoom.js') }}" > </script>
	</head>
	<body class="graph">
		<div id="grandemangiatore"></div>
		<div id="plus">+</div>
		<div id="minus">-</div>
		<div id="dntxt"><a href="/txt/{{graph}}.txt" download>txt</a></div>
		<div id="dnsvg"><a href="/svg/{{graph}}.svg" download>svg</a></div>
		<div id="dnpdf"><a href="/pdf/{{graph}}.pdf" download>pdf</a></div>
		
		<div id="cont">
			<div id="pad">
				<iframe src="http://altas-latencias.xyz:9001/p/{{graph}}-graph"> </iframe>
			</div>
			<div id='dd'>
			<div id="vf"></div>
			<!--	<iframe id='dia' src="/svg/{{graph}}.svg" ></iframe> -->
			<object type="image/svg+xml" data="/svg/{{graph}}.svg" id="dia"></object>
			<iframe id='log' src='/log/{{graph}}-log.txt'> </iframe>
			</div>
		</div>
<script>
var diasvg = document.querySelector('#dia');
var svgDoc;
var svgZW;
var svgZo;
var svgPa;
var panZoom;
var pzsettings = { dblClickZoomEnabled:false, zoomScaleSensitivity:0.5, fit:true,center:true } 
diasvg.addEventListener('load',function(){
	panZoom = svgPanZoom('#dia',pzsettings );
});

document.addEventListener('DOMContentLoaded',function(){

	setInterval(function(){
		document.getElementById('log').src="/log/{{graph}}-log.txt";
		if ( document.querySelectorAll('#dia').length == 1){
		diasvg = document.querySelector('#dia:not(.old)');
		newSvg=diasvg.cloneNode(true);
		newSvg.setAttribute('data',diasvg.getAttribute('data'));
		diasvg.after(newSvg);
		diasvg.classList.add('old');
		newSvg.addEventListener('load',function(){
			newSvg.id='newdia';
			svgZo = panZoom.getZoom();
			svgPa = panZoom.getPan();
			panZoom = svgPanZoom('#newdia',pzsettings );
			panZoom.zoom(svgZo);
			panZoom.pan(svgPa);
			newSvg.id='dia';
			document.querySelector('#dia.old').remove();
			diasvg=document.getElementById('dia');
		});
		}
//		document.getElementById('log').contentWindow.location.reload();
		document.getElementById('log').src="/log/{{graph}}-log.txt";
//		document.getElementById('dia').contentWindow.location.reload();
//		} catch(e){
//			document.getElementById('dia').src="/svg/{{graph}}.svg";
//			document.getElementById('log').src="/log/{{graph}}-log.txt";
//		}
	}
,2000);
});

mangiatore=document.getElementById('grandemangiatore');
document.querySelector('#dd').style.flexGrow=4;
document.querySelector('#pad').style.flexGrow=1;
document.querySelector('#vf').addEventListener('mousedown',function(){
		event.preventDefault();
		currentElement = this;
		this._startX = event.pageX;
		this._startL = currentElement.offsetLeft;
		targetr=document.querySelector('#dd');
		targetl=document.querySelector('#pad');
		mangiatore.style.zIndex=9;
		this._startWidth = targetr.offsetWidth;
		this._startNegWidth = targetl.offsetWidth;
		this._totalWidth = targetr.offsetWidth + targetl.offsetWidth;
		this._totalFlex = parseFloat(targetr.style.flexGrow) + parseFloat(targetl.style.flexGrow);
		console.log(this._totalFlex,targetr.style.flexGrow,targetl.style.flexGrow);
		document.addEventListener( 'mousemove', mouseMoveHandlerV);
		document.addEventListener( 'mouseup', mouseUpHandlerV);
});
	var mouseMoveHandlerV = function (event) {
		event.preventDefault();
		var variation = currentElement._startX - event.pageX;
		var newWidth = currentElement._startWidth + variation;
		var newFlex = currentElement._totalFlex / currentElement._totalWidth * newWidth ;
		var newNegFlex = currentElement._totalFlex - newFlex;
		targetr.style.flexGrow = newFlex;
		targetl.style.flexGrow = newNegFlex;
	}
	
	var mouseUpHandlerV = function (event) {
		 currentElement = null;
		targetr.classList.toggle('transflex');
		targetl.classList.toggle('transflex');
		 mangiatore.style.zIndex=-1;
		 document.removeEventListener('mousemove', mouseMoveHandlerV);
		 document.removeEventListener('mouseup', mouseUpHandlerV);
    	}

document.querySelector('#plus').addEventListener('click',function(){
	panZoom.zoomIn();
});
document.querySelector('#minus').addEventListener('click',function(){
	panZoom.zoomOut();
});


</script>
	</body>
</html>

