<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
	{% endblock %}
</head>
<body>
	{% block nav %}
	{% endblock %}
	<div id="container" class="listall">
		<div id="wrapper">
			{% block content %}
			<h3 class="list-title">Graphs</h3>
			
			<input type="text" id="graphinput" value="" placeholder="name of new graph" autofocus="">
			<button id="newgraphbutton">create new graph</button>
			<ul class="graph-list">
			{% for pad in graphs%}
			<li>
				<h4>{{pad}}</h4>
				<div class="graph-item">
					<a class="graph-thumb" href='/graph/{{pad}}'><img class="svgthumb" src='/png/{{pad}}.png'/></a>
					<div class="graph-buttons">
						<h4>actions</h4>
						<ul>
						<li><a href='/graph/{{pad}}'>open graph</a></li>
						<li><a href='http://altas-latencias.xyz:9001/p/{{pad}}-graph'>edit pad</a></li>
						<li><a data-href="/pdfgen/{{pad}}/" href='/pdfgen/{{pad}}/10'>make print pdfs</a> x<input type="text" class="pdfscale" value="10"></li>
						<li><a href='/delete/{{pad}}-graph' onclick="return confirm('are you sure to delete {{pad}}?');">DELETE graph</a></li>
						</ul>
					</div>
					<div class="graph-files">
						{% if pad in comments %} 
						<h4>description</h4>
						<span class="comment">{{comments[pad]}}</span>
						{% endif %}
						<h4>files</h4>
						<ul>
						<li><a href='/txt/{{pad}}.txt'>txt</a></li>
						<li><a href='/svg/{{pad}}.svg'>svg</a></li>
						<li><a href='/pdf/{{pad}}.pdf'>pdf</a></li>
						{% if pad in large_pdfs %} 
						<li><a href="/large-pdf/{{pad}}-large.pdf">full scale pdf</a></li>
						{% endif %}
						{% if pad in tiled_pdfs %} 
						<li><a href="/tiled-pdf/{{pad}}-a3.pdf">A3 tiled pdf</a></li>
						{% endif %}
						</ul>
					</div>
				</div>
			</li>
			{% endfor %}
			</ul>
			{% if includes %}
			<h3 class="list-title">Includes</h3>
			
			<input type="text" id="includeinput" value="" placeholder="name of new include" autofocus="">
			<button id="newincludebutton">create new include</button>
			<ul class="include-list">
			{% for pad in includes%}
			<li>
				<h4>{{pad}}</h4>
				<div class="graph-item">
				<ul class="graph-buttons">
					<li><a href='http://altas-latencias.xyz:9001/p/{{pad}}-include'>pad</a></li>
					<li><a href='/delete/{{pad}}-include' onclick="return confirm('are you sure to delete {{pad}}?');">DELETE</a></li>
					</ul>
				</div>
			</li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endblock %}
		</div>
	</div>
</body>
{% block footer %}
<script>
document.addEventListener('DOMContentLoaded',function(){
	document.querySelector('#newgraphbutton').addEventListener("click", function (e) {
	var elt = document.getElementById("graphinput");
	newgraph=elt.value;
	if (!newgraph) { alert("type the graph name, then click again")}
	else {
		var newpadhref = "/graph/" + encodeURIComponent(newgraph);
		window.location = newpadhref;
	}
	});
	document.querySelector('#newincludebutton').addEventListener("click", function (e) {
	var elt = document.getElementById("includeinput");
	newgraph=elt.value;
	if (!newgraph) { alert("type the include name, then click again")}
	else {
		var newpadhref = "http://altas-latencias.xyz:9001/p/" + encodeURIComponent(newgraph) + '-include';
		window.location = newpadhref;
	}
	});
	
	[...document.querySelectorAll('.pdfscale')].forEach( function(scaler){
		scaler.addEventListener("input", function(e){
			var link=this.previousElementSibling;
			link.setAttribute('href',link.dataset.href+this.value);
		});
	});

});
</script>
{% endblock %}
</html>

