<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
	{% endblock %}
</head>
<body>
	{% block nav %}
	{% endblock %}
	<div id="container" class="list">
		<div id="wrapper">
			{% block content %}
			<h3 class="list-title">Public Graphs</h3>
			
			<ul class="graph-list">
			{% for pad in graphs%}
			<li class="tit">
				<h4>{{pad}}</h4>
				<div class="graph-item">
					<a href='/g/{{pad}}'><img class="svgthumb" src='/png/{{pad}}.png'/></a>
				<div class="graph-buttons">
					{% if pad in comments %}
					<span class="comment">{{comments[pad]}}</span>
					{% endif %}
					<h4>files</h4>
					<ul>
						<li><a href='/g/{{pad}}'>open graph</a></li>
						<li><a href='/svg/{{pad}}.svg'>download svg</a></li>
						<li><a href='/pdf/{{pad}}.pdf'>download pdf</a></li>
					</ul>
				</div>

				</div>
			</li>
			{% endfor %}
			</ul>
			{% endblock %}
		</div>
	</div>
</body>
</html>

