<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	{% endblock %}
</head>
<body>
	{% block nav %}
	{% endblock %}
	<div id="container" class="listall">
		<div id="wrapper">
			{% block content %}
			<h3 class="list-title">Graphs</h3>
			
			<input type="text" id="graphinput" value="" placeholder="name of new graph" autofocus="">
			<button id="newgraphbutton">create new graph</button>
			<ul class="graph-list">
			{% for pad in graphs%}
			<li>
				<h4>{{pad}}</h4>
				<div class="graph-item">
					<a href='/asn/{{pad}}'><img class="svgthumb" src='/svg/{{pad}}-asn.svg'/></a>
				<ul class="graph-buttons">
					<li><a href='/asn/{{pad}}'>graph</a></li>
					<li><a href='http://pada.para-doxa.org/p/{{pad}}-asn'>pad</a></li>
					<li><a href='/txt/{{pad}}-asn.txt'>txt</a></li>
					<li><a href='/svg/{{pad}}-asn.svg'>svg</a></li>
					<li><a href='/pdf/{{pad}}-asn.pdf'>pdf</a></li>
					<li><a href='/delete/{{pad}}-asn' onclick="return confirm('are you sure to delete {{pad}}?');">DELETE</a></li>
					</ul>
				</div>
			</li>
			{% endfor %}
			</ul>
			{% if includes %}
			<h3 class="list-title">Includes</h3>
			
			<input type="text" id="includeinput" value="" placeholder="name of new include" autofocus="">
			<button id="newincludebutton">create new include</button>
			<ul class="include-list">
			{% for pad in includes%}
			<li>
				<h4>{{pad}}</h4>
				<div class="graph-item">
				<ul class="graph-buttons">
					<li><a href='http://pada.para-doxa.org/p/{{pad}}-include'>pad</a></li>
					<li><a href='/delete/{{pad}}-include' onclick="return confirm('are you sure to delete {{pad}}?');">DELETE</a></li>
					</ul>
				</div>
			</li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endblock %}
		</div>
	</div>
</body>
{% block footer %}
<script>
document.addEventListener('DOMContentLoaded',function(){
	document.querySelector('#newgraphbutton').addEventListener("click", function (e) {
	var elt = document.getElementById("graphinput");
	newgraph=elt.value;
	if (!newgraph) { alert("type the graph name, then click again")}
	else {
		var newpadhref = "/asn/" + encodeURIComponent(newgraph);
		window.location = newpadhref;
	}
	});
	document.querySelector('#newincludebutton').addEventListener("click", function (e) {
	var elt = document.getElementById("includeinput");
	newgraph=elt.value;
	if (!newgraph) { alert("type the include name, then click again")}
	else {
		var newpadhref = "http://pada.para-doxa.org/p/" + encodeURIComponent(newgraph) + '-include';
		window.location = newpadhref;
	}
	});
});
</script>
{% endblock %}
</html>

