<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	{% endblock %}
</head>
<body>
	{% block nav %}
	{% endblock %}
	<div id="container">
		<div id="wrapper">
			{% block content %}
			<h3>Graphs</h3>
			<ul>
			{% for pad in pads%}
			<li><h4>{{pad}}</h4>
				<ul>
					<li><a href='/graph/{{pad}}'>graph</a></li>
					<li><a href='http://pada.para-doxa.org/p/{{pad}}-graph'>pad</a></li>
					<li><a href='/txt/{{pad}}.txt'>txt</a></li>
					<li><a href='/svg/{{pad}}.svg'>svg</a></li>
					<li><a href='/pdf/{{pad}}.pdf'>pdf</a></li>
					<li><a href='/delete/{{pad}}'>DELETE</a></li>
				</ul>
			</li>
			{% endfor %}
			</ul>
			{% endblock %}
		</div>
	</div>
</body>
{% block footer %}
<script>
</script>
{% endblock %}
</html>

